name: build

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Validate Gradle
      uses: gradle/wrapper-validation-action@v1
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew shadowJar
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: dynamicgui
        # Directory containing files to upload
        path: build/libs
